@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header {
    position: relative;
    width: 100%;
    height: 430px;
    background: #6a70fc;
    overflow: hidden; 
}

.header .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../image/wave.png);
    background-size: 1000px 100px;
}

.header .wave1{
    -webkit-animation: animate 30s linear infinite;
    animation: animate 30s linear infinite;
    z-index: 999;
    opacity: 1;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    bottom: 0;
}
.header .wave2{
    -webkit-animation: animate2 15s linear infinite;
    animation: animate2 15s linear infinite;
    z-index: 998;
    opacity: 0.5;
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    bottom: 10px;
}

.header .wave3{
    -webkit-animation: animate2 30s linear infinite;
    animation: animate2 30s linear infinite;
    z-index: 997;
    opacity: 0.2;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    bottom: -15px;
}

.header .wave4{
    -webkit-animation: animate2 15s linear infinite;
    animation: animate2 15s linear infinite;
    z-index: 996;
    opacity: 0.7;
    -webkit-animation-delay: -5s;
    animation-delay: -15s;
    bottom: 15px;
}

@-webkit-keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@-webkit-keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

body{
font-family: 'Poppins', sans-serif;
}

.italic{
    font-weight: 300;
    font-size: 14px;
}

.medium{
    font-weight: 500;
    font-size: 18px; 
}

.semi-bold{
    font-weight: 600;
    font-size: 26px;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .batn-purple{
    border: 1px solid#f90000;
    background: #6a70fc;
    color: blue !important;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .batn-outline-purple{
   
    color: #160000 !important;
    border:1px solid#2a1b1b;
    width: 100%;
}

.navbar .container-fluid #navbarNav .navbar-nav .nav-item .batn-outline-purple:hover{
   
    color: #9e2a62 !important;
    border:1px solid#a6ee0a;
    background: #00ffa2;
}

.text-center h2 {
    font-size: 26px;
}

.text-center p {
    font-size: 16px;
}

.row .col {
    z-index: 1001;
}

@media screen and (max-width: 576px){
    .row .col .content-top {
        padding: 32px 20px 32px 20px ;
        background: #fff;
        margin-top: -160px;
        border-color: #f90000;
    }
} 

@media screen and (max-width: 768px){
    .row .col .content-top {
        padding: 32px 20px 32px 20px ;
        background: #fff;
        margin-top: -160px;
        border-color: #f90000;
    }
} 

@media screen and (max-width: 992px){
    .row .col .content-top {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: #f90000;
    }
}

@media screen and (max-width: 576px){
    .row .col .content-bottom {
        margin-top: 32px;
    }
} 

@media screen and (max-width: 768px){
    .row .col .content-bottom {
        margin-top: 32px;
    }
} 

@media screen and (max-width: 992px){
    .row .col .content-bottom {
        margin-top: 32px;
    }
}

.row .col .content {
    padding: 32px 20px 32px 20px ;
        background: #fff;
        border-color: #f90000;
}

@media screen and (min-width: 992px){
    .row .col .content {
        padding: 32px 20px 32px 20px;
        background: #fff;
        margin-top: -160px;
        border-color: #f90000;
    }
}

.row .col .content .card {
    background: rgb(90, 90, 255); 
    padding: 16px;
    color: #fff;
    border-radius: 20px;
}

.row .col .content .btn-custom {
    background: rgb(90, 90, 255); 
    width: 100%;
    color: #fff;
    border-radius: 10px;
}

.pengaduan .bg-purple {
    background: rgb(90, 90, 255); 
   padding: 16px;
   width: 100%;
    color: #fff;
    border-radius: 20px;
    
}

.modal .modal-diaolog .modal-content .modal-body h3{
    font-weight: 500;
    font-size: 22px;
}

.modal .modal-diaolog .modal-content .modal-body p{
    font-weight: 300;
    font-size: 16px;
    color: #6a70fc;
}

.modal .modal-dialog .modal-content .modal-body .btn-purple{
    border: 1px solid #6a70fc;
    background: #6a70fc;
    color: #6a70fc;
    width: 100%;
}